<mat-toolbar class="topbar bg-primary">
    <a aria-label="Home" href="/">
        <img src="/assets/images/logo.png" height="50px" />
      </a> 

    <span class="flex-1-auto text-center">
       <div class="search-box">
            <input class="search-input" type="text" name="" placeholder="Search">
            <a href="#" class="search-btn">
                <mat-icon>search</mat-icon>
            </a>     
        </div>  
    </span>

    <div>
        <button mat-icon-button aria-label="Cart" [routerLink]="['/cart']">
            <i-tabler
              class="d-flex"
              name="shopping-cart"
              [matBadge]="cartService.cart?.total_items ?? 0"
              matBadgeColor="accent"
              ></i-tabler>
          </button>

        <button *ngIf="isLoggedIn; else notLoggedIn" 
            mat-icon-button
            [matMenuTriggerFor]="profilemenu"
            aria-label="Notifications"
        >
            <img
            src="/assets/images/user-1.jpg"
            class="rounded-circle object-cover"
            width="35"
            />
        </button>
        <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
            <button mat-menu-item>
            <mat-icon class="d-flex align-items-center"
                ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
            >My Profile
            </button>
            <div class="p-x-12 m-t-12">
            <a (click)="logout()"
                mat-stroked-button
                color="primary"
                class="w-100"
                >Logout</a
            >
            </div>
        </mat-menu>

        <ng-template #notLoggedIn>
            <button mat-icon-button (click)="redirectToLogin()"> 
                <mat-icon>login</mat-icon>
            </button>
        </ng-template>

    </div>

    
  </mat-toolbar>
  