<mat-toolbar class="topbar bg-primary">
    <a aria-label="Home" href="/">
        <img src="/assets/images/logo.png" height="50px" />
      </a> 

    <span class="flex-1-auto text-center">
       <div class="search-box">
            <input class="search-input" type="text" name="" placeholder="Search">
            <a href="#" class="search-btn">
                <mat-icon>search</mat-icon>
            </a>     
        </div>  
    </span>

    <div>
        <button mat-icon-button> 
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-icon-button (click)="redirectToLogin()"> 
            <mat-icon>login</mat-icon>
        </button>

    </div>

    
  </mat-toolbar>
  