<div class="animation-ctn">
    <div class="icon icon--order-success svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="154px" height="154px">
            <g fill="none" stroke="red" stroke-width="2">
              <circle cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
              <circle id="colored" fill="red" cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
              <polyline class="st0" stroke="#fff" stroke-width="10" points="50,50 100,100" />
              <polyline class="st0" stroke="#fff" stroke-width="10" points="50,100 100,50" />
            </g>
          </svg>          
  </div>
  <br />
  <h2>Payment Unsuccessfull</h2>
<p>Please try again later. If persist contact support at sup@kedai.my :)</p>
<button mat-flat-button color="accent" class="m-t-24" [routerLink]="['']" >
    Back to Home
</button>
</div>