<mat-card class="cardWithShadow productcard overflow-hidden">
    <a (click)="openProductDetail()">
      <img [src]="product.image" alt="imgSrc" class="w-100" mat-card-image />
    </a>
    <mat-card-content class="p-b-24 p-t-12 position-relative">
      <button (click)="addToCart()" mat-mini-fab color="accent" class="icon-40 cart-btn" matTooltip="Add to Cart" [disabled]="product.isLoading">
        <span *ngIf="product.isLoading; else cartIcon">
          <mat-progress-spinner
            mode="indeterminate"
            diameter="20"
            color="accent"
          ></mat-progress-spinner>
        </span>
        <ng-template #cartIcon>
          <i-tabler name="basket" class="icon-26"></i-tabler>
        </ng-template>
      </button>
      <mat-card-title class="mat-headline-2 f-s-16">{{ product.name }}</mat-card-title>
      <mat-card-title class="mat-headline-2 f-s-12">{{ product.category.name}}</mat-card-title>
      <mat-card-subtitle>
        <p class="product-description" [innerHTML]="product.description"></p>
      </mat-card-subtitle>
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h6 class="mat-body-2 f-w-600">{{ product.formattedPrice}}</h6>
        </div>
      </div>
    </mat-card-content>
  </mat-card>