<mat-card class="cardWithShadow productcard overflow-hidden">
    <a routerLink="/widgets/cards">
      <img [src]="product.imageUrl" alt="imgSrc" class="w-100" mat-card-image />
    </a>
    <mat-card-content class="p-b-24 p-t-12 position-relative">
      <button (click)="addToCart(product)" mat-mini-fab color="accent" class="icon-30 cart-btn" matTooltip="Add to Cart">
        <i-tabler name="basket" class="icon-16"></i-tabler>
      </button>
      <mat-card-title class="mat-headline-2 f-s-16">{{ product.name }}</mat-card-title>
      <mat-card-subtitle>
        <p class="product-description" [innerHTML]="product.description"></p>
      </mat-card-subtitle>
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h6 class="mat-body-2 f-w-600">{{ product.price.formattedWithSymbol }}</h6>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
