<div *ngIf="isLoading" class="overlay-spinner">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
  <mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <div class="d-flex w-100 p-b-24">
        <mat-card-title class="m-b-0">Shopping Cart</mat-card-title>
        <div class="m-l-auto">
          <button
            mat-flat-button
            color="warn"
            matTooltip="Empty Cart"
            (click)="clearCart()"
            [disabled]="isDeleting || !cartAvailable"
          >
            <div class="row m-x-4">
              <span *ngIf="isDeleting">
                <mat-progress-spinner
                  mode="indeterminate"
                  diameter="20"
                  color="warn"
                ></mat-progress-spinner>
              </span>
              Empty Cart
            </div>
          </button>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="b-t-1">  
      <div class="row">
        <div class="col-sm-12 col-lg-6" *ngFor="let e of cartItems">
          <app-cart-card [cart]="e"></app-cart-card>
        </div>
      </div>

      <div *ngIf="cartAvailable;" class="m-t-20 col d-flex flex-column align-items-end">
        <div class="row m-r-0">
            <p class="f-w-700 f-s-16">Total:&nbsp;</p>
            <p class="f-s-16">{{ totalFormatted }}</p>
        </div>
        <button
          mat-flat-button
          color="accent"
          matTooltip="Checkout"
          (click)="checkOut()"
          [disabled]="isChecking"
        >
          <span *ngIf="isChecking; else checkoutText">
            <mat-progress-spinner
              mode="indeterminate"
              diameter="20"
              color="accent"
            ></mat-progress-spinner>
          </span>
          <ng-template #checkoutText>
            Checkout
          </ng-template>
        </button>
      </div>
    </mat-card-content>
</mat-card>
