<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <form class="m-t-30" ngNativeValidate>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Email</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" [(ngModel)]="userEmail" name="user-name" required />
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" [(ngModel)]="userPassword" name="user-password" required />
            </mat-form-field>

            <button mat-flat-button color="accent" class="w-100" type="submit" (click)="signIn()" [disabled]="authService.isLoggingIn" >
              <div class="row align-items-center">
                <span *ngIf="authService.isLoggingIn;" class="m-r-8">
                  <mat-progress-spinner mode="indeterminate" diameter="20" color="primary"></mat-progress-spinner>
                </span>
                Sign In
              </div>
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >New to Kedai?
            <a
              [routerLink]="['/auth/register']"
              class="text-decoration-none text-secondary f-w-500 f-s-14"
            >
              Create an account</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
