<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
      <div class="col-lg-8 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">

            <div class="page-indicator">
              <div class="page-step active">
                <div class="circle">1</div>
                <span class="mat-subtitle-2 f-w-600">Shipping Details</span>
              </div>
              <div class="separator"></div>
              <div class="page-step">
                <div class="circle">2</div>
                <span class="mat-subtitle-2">Payment Details</span>
              </div>
            </div>

            <form ngNativeValidate>
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Name</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput [(ngModel)]="checkoutService.checkoutData.name" name="user-name" required />
                </mat-form-field>

                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Adddress</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput type="email" [(ngModel)]="checkoutService.checkoutData.email" name="user-email" required />
                </mat-form-field>

                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Street</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput [(ngModel)]="checkoutService.checkoutData.street" name="user-street" required />
                </mat-form-field>

                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Town</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput [(ngModel)]="checkoutService.checkoutData.town" name="user-town" required />
                </mat-form-field>

                <div class="d-flex justify-content-center align-items-center m-t-24">
                  <button mat-flat-button color="primary" class="m-r-8 col-6" [routerLink]="['/cart']" style="color: #800020">
                    <div class="row align-items-center">
                      <mat-icon>keyboard_arrow_left</mat-icon>
                      Back to Cart
                    </div>
                  </button>
                  <button mat-flat-button color="accent" class="m-l-8 col-6" type="submit" (click)="next()">
                    <div class="row align-items-center">
                      Next
                      <mat-icon>keyboard_arrow_right</mat-icon>
                    </div>
                  </button>
                </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>