<a [routerLink]="['/']" class="logo">
    <img src="assets/logo.png">
  </a>

  <form class="search-container">
    <div class="search-wrapper">
      <input type="text" id="search-bar" placeholder="Search Product...">
      <a href="#" class="search-icon"><em class="material-icons">search</em></a>
    </div>
  </form>

  <div class="nav-links">
    <a routerLink="/profile"><em class="material-icons">manage_accounts</em></a>
    <a routerLink="/cart"><em class="material-icons">shopping_bag</em></a>
  </div>
